*{
 margin: 0;
 padding: 0;
}

body {
 width: 100vw;
 height: 100vh;
}

.caja{
 position: absolute;
 width: 100%;
 height: 100%;
 background:black;
 background-image:url(doc.png);
 background-size:100% ;
 background-position:center ;
 background-repeat:no-repeat ;
 display:flex;
 justify-content:center;
 align-items:center;
}

.aro1,.aro2,.aro3,.aro4{
 position:absolute;
 width: 300px;
 height: 300px;
 border:solid 1px #fff12b;
 border-radius: 40%;
 animation:gi 1s linear infinite;
}

.aro1{
 background: #fff;
 opacity:30%;
 box-shadow:5px 5px 5px 5px green;
}

.aro2{
 border-radius: 45%;
 animation:gi 1.1s linear infinite;
 box-shadow:1px 1px 1px 1px #fff180;
}

.aro3{
 border-radius: 42%;
 animation:gi 0.1s linear infinite;
 box-shadow:1px 1px 1px 1px orange;
}

.aro3{
 animation:gi 0.5s linear infinite;
 box-shadow:1px 1px 1px 1px #fff;
 border-radius: 38%;
}

.aro4{
 width: 310px;
 height: 310px;
 animation:gi 0.5s linear infinite;
 border-radius: 35%;
}

.aro5{
 width: 320px;
 height: 3200px;
 animation:gi 0.9s linear infinite;
}

.aro6{
 width: 330px;
 height: 330px;
 animation:gi 0.1s linear infinite;
 
}

.aro7{
 width: 305px;
 height: 305px;
 animation:gi 0.7s linear infinite;
}

@keyframes gi{
 0%{
  transform:rotate(0deg);
 }
 100%{
  transform:rotate(360deg);
 }
}

.reloj{
 position: absolute;
 width: 250px;
 height: 250px;
 border-radius: 50%; 
}

.hora,.minuto,.segundo{
 position: absolute;
 width: 1px;
 height: 125px;
 background: #6aff78;
 margin: auto;
 top: 0;
 left: 0;
 bottom: 125px;
 right: 0;
 transform-origin:bottom;
}

.hora{
 width: 1px;
 height: 100px;
 background:orange;
 bottom:100px;
}

.digital{
 position: absolute;
 width: 300px;
 height: 100px;
 border:solid 0.1px #51ff2b;
 margin: auto;
 top: 20px;
 left: 0;
 right: 0;
 z-index:100;
 display:flex;
 justify-content:space-between;
 align-items:center;
}

p{
 width:70px ;
 margin: auto;
 color: #fff;
 text-align:center;
 font-size:60px;
 border:solid 0.1px #51ff2b;
}